* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu_container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.scores {
  color: #fff;
  background-color: #373e46; /* Blue */
  font-weight: bold;
  
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.score {
    width: 30%;
    text-align: center;
    }

.init {
    width: 30%;
}

.options_container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.game_status_container {
  color: #fff;
  background-color: #373e46; /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.btn {
  font-size: large;
  font-weight: bold;
  padding: 30px;
  width: 30%;
  border-radius: 5px;
  border-color: #373e46;
}

